rabbitmq:
  host: localhost # RabbitMQ server hostname or IP address
  port: 5672 # RabbitMQ server port
  username: guest # RabbitMQ username
  password: guest # RabbitMQ password
  heartbeat: 600 # Heartbeat interval in seconds
  vhost: / # RabbitMQ virtual host
  tls: true

# Default path to the simulation YAML payload
# Absolute or relative path of the file in single quotes
simulation_request: simulation.yaml
